@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./assets/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0; /* Elimina el margen predeterminado del body */
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
}

  /* Estilos para la barra de navegación */
  .navbar {
    background-color: #005eff37;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
  }

  .navbar-link {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .navbar-link span {
    margin-right: 0.5rem;
  }



.container {
  position: relative;
 /*  max-width: 1200px; */
  margin: 0 auto;
}

/* Estilos para el pie de página */


.input {
  outline: none;
  border: none;
  height: 100%;
  width: 75%;
  padding: 0.8rem;
  font-size: 20px;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
/*
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.movie-card.card {
  height: 650px;
  width: 450px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  transition: transform 0.3s ease-in-out;
}

.movie-card.card:hover {
  transform: scale(1.1);
} */

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #f5f5f506;
  border-radius: 8px;
  overflow: hidden;
}

.movie-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-card h3 {
  text-align: center;
  margin: 10px 0;
}

.movie-card p {
  margin-top: 10px;
}


.movie-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .movies {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

@media (min-width: 1024px) {
  .movies {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
}
.each-result {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.each-result:hover {
  background-color: #efefef;
}

.movie-info {
  padding: 2rem;
  text-align: center;
  border: solid 1px silver;
  max-width: 500px;
  border-radius: 30px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.199);
  margin: 0 auto; /* Centra el bloque de información de la película */
}

.poster {
  padding: 10px;
}

.plot, .cast, .rating, .bold {
  font-weight: bold;
}

.movie-list::-webkit-scrollbar {
  display: none;
}


.card {
  transition: transform 0.3s ease-in-out;
}


.title {
  border-bottom: 1px solid white;
}

.movies {
  margin-bottom: 100px;
}

.footer {
  background-color: #005eff37;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.title {
  font-size: 1.130rem;
  font-weight: bold;
}

.attribution {
  margin: 0 2rem;
}

.license {
  margin-left: 2rem;
}

.copyright {
  margin-left: 2rem;
}

.reservation-section {
  position: absolute;
  left: 70%; /* Para alinearlo a la derecha */
  top: 0; /* Alinearlo en la parte superior */
  background-color: #2d2d2d;
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  margin: 2rem;
}

.reservation-section h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.reservation-section form {
  margin-bottom: 0.75rem;
}

.reservation-section label {
  display: block; /* Para que cada etiqueta esté en una línea */
  margin-bottom: 0.5rem;
}

.reservation-section input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
  color: #2d2d2d;
}

.purchase-summary h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

.purchase-summary p {
  margin-bottom: 0.5rem;
}

button {
  background-color: #007bff;
  color: #fff; /* Texto blanco */
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none; /* Sin borde */
  border-radius: 0.25rem;
  cursor: pointer; /* Cambia el cursor a mano */
  outline: none;
}

button:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}
